
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}



.scroll-pink::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

.scroll-pink::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 500px;
}

.scroll-pink::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6e563a, #856c4d);
  border-radius: 500px;
  
}


