
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}



.scroll-pink::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

.scroll-pink::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 10px;
}

.scroll-pink::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6e563a, #856c4d);
  border-radius: 20px;
  
}


body::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

body::-webkit-scrollbar-track {
  background:linear-gradient(180deg, #6e563a, #856c4d);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6e563a, #856c4d);
  border-radius: 20px;
  
}


